.job_title_icon {
  width: 30px;
  height: 30px;
  border: 2px solid #2e6da4;
  display: inline-block;
  border-radius: 4px;
  background-color: #337ab7;
  color: white;
  text-align: center;
}

.well.profile-block {
  color: #fff;
  h3 {
    margin-top: 0;
  }
}

.well.profile-description {
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.well.contact-info {
  background-color: #5bc0de;
  border-color: #46b8da;
}

//.avatar {
//  border-radius: 50%;
//  -webkit-box-shadow: 3px 42px 35px 6px rgba(0, 0, 0, 0.73);
//  -moz-box-shadow: 3px 42px 35px 6px rgba(0, 0, 0, 0.73);
//  box-shadow: 3px 42px 35px 6px rgba(0, 0, 0, 0.73);
//}

.well.white-bg {
  background-color: white;
}

/*User avatar size*/
.user-show-avatar {
  height: 128px;
  width: 128px;
}

/*User index avatar for border-radius*/
.user-index-avatar {
  border-radius: 50%;
}

.jumbotron {
  background-image: url("1.png");
  background-size: cover;
  height: 300px;



}